.go-git .current-branch {
	font-size: 17px;
	line-height: 17px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.go-git .current-branch h3 {
	color: #555;
	font-weight: normal;
	margin-bottom: 5px;
}

.go-git .current-branch .status {
	color: #999;
	font-style: italic;
}

.go-git .branch {
	color: #333;
	font-weight: bold;
}

.go-git .commit {
	background: #f5f5f5;
	border: 1px solid #ccc;
	margin-bottom: 10px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;

	-webkit-box-shadow: 0 0 5px 0 rgba( 0, 0, 0, 0.1 );
	-moz-box-shadow: 0 0 5px 0 rgba( 0, 0, 0, 0.1 );
	-o-box-shadow: 0 0 5px 0 rgba( 0, 0, 0, 0.1 );
	box-shadow: 0 0 5px 0 rgba( 0, 0, 0, 0.1 );
}

.go-git .commit header {
	background: #eee;
	color: #999;
	padding: 10px;
}

.go-git .commit h1 {
	font-size: 17px;
	line-height: 17px;
	margin: 0;

	text-shadow: 0 1px 0 rgba( 255, 255, 255, 0.5 );
}

.go-git .commit .author {
	color: #333;
}

.go-git .commit time {
	color: #888;
}

.go-git .commit .body {
	font-size: 15px;
	line-height: 15px;
	padding: 10px;
}
